.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
  background: white;
  color: #362f2d;
}

.wrapper {}

.header {
  height: 50px;
  background: #f266dd;
}

.columns {}

.content {
    /*dev*/
    background: rgba(255, 0, 0, .1);
    min-height: 200px
}

.sidebar {
  /*dev*/
  background: rgba(0, 255, 0, .1);
  min-height: 200px
}

.footer {
  background: #f8b6be;
  height: 85px;
}

@media screen and (min-width: 978px) {

  body {
    background: #fcfbf8;
  }

  .wrapper {
    width: 978px;
    margin: 0 auto;
  }

  .header {
    background: none;
    height: 195px;
  }

  /*columns*/
  .columns{
    background: #fff;
    padding: 30px;
  }

  .content {
    float: left;
    width: 602px;
  }

  .sidebar {
    float: right;
    width: 286px;
  }
  .footer {
    background: none;
    height: 55px;
    margin: 30px 0;
  }
}
